BasedOnStyle: LLVM

ColumnLimit: 120

AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
AllowShortFunctionsOnASingleLine: Inline

InsertNewlineAtEOF: true
SeparateDefinitionBlocks: Always
AllowShortBlocksOnASingleLine: Always

AlignConsecutiveMacros: Consecutive

# Indenting preprocessor directives for complex PP in platform.h
IndentPPDirectives: BeforeHash
PPIndentWidth: 2

# Avoid indenting lambda bodies
LambdaBodyIndentation: OuterScope
