.btn {
    padding: 10px 20px; /* 设置内边距 */
    border: none; /* 去除边框 */
    border-radius: 20px; /* 设置边框圆角 */
    cursor: pointer; /* 鼠标悬停时显示指针 */
    background-color:rgba(142, 69, 231, 0.694); /* 设置背景颜色 */
    color: white; /* 设置字体颜色 */
  }
  
  .btn:hover {
    background-color: rgb(189, 69, 185); /* 鼠标悬停时的背景颜色 */
  }